.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 180%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}
.carrito{
  margin-right: 20px;
}
.div{
  float: left;
  margin: 10px;
  text-align: center;
}
.bloques{
  margin-left: 70px;
}
.search-container {
  position: fixed;
  top: 90px;
  right: 10px;
  border: 2px solid pink;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  display: flex;
  align-items: center;
}

.search-text {
  color: pink;
  margin-right: 5px;
}
.search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.linea {
  background:#4C4F91;
  font-family:italic;
  text-align: center;
  padding: 10px 0;
  font-size: .75em;
  font-weight: 700;
  
  
}
.logo{
  position: relative;
  top: -30px;
  left: 700px;
}

.menuregion {
  position: relative; 
  top: -39px; 
  left: 101px; 
  
}
.carrito{
position: relative;
left: 730px;
top: -100px;

}

.usuario{
position: relative;

left: 688px;
top: -123px;
}

