
.search-container {
  position: fixed;
  top: 90px;
  right: 10px;
  border: 2px solid pink;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.search-text {
  color: pink;
  
}
.search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.linea {
  background:#4C4F91;
  font-family:italic;
  text-align: center;
  padding: 10px 0;
  font-size: .75em;
  font-weight: 700;
  
  
}
.logo{
  position: relative;
  top: -90px;
  left: 680px;
}

.menuregion {
  position: relative; 
  top: -39px; 
  left: 101px; 
  
}
.carrito{
position: relative;
left: 730px;
top: -105px;

}

.usuario{
position: relative;

left: 688px;
top: -130px;
}

.barra1 {
  position: relative;
  top: 30px; 
}
.barra2 {
  position: relative;
  top: -100px; 
}
.carr{
  position: relative;
  top: -108px; 
}